
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

	<!-- Title & BreadCrumbs -->
	<section class="mtop">
		<section class="container-fluid container">
			
			
				</section>		<!-- end of Page Title -->
		
	</section>
	<!-- End of Tile & Breadcrumbs -->
	 
	<!-- Page Content Container -->
	<section id="content" class="mbtm fund_rasising_listing">
		<section class="container-fluid container">
		
			<section class="row-fluid">
				
				<section class="row-fluid" id="fund_rasising_listing">  
						
						<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> Proyectos Ciudadanos </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
						</figure>
						
						<section class="span12 first projects_holder">
							
							<section class="span4 first fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Recuperar la fuente del barrio en el parque de l'Oreneta</a></h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  12.387 L  
								<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 2.000.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 30 </span> días
										</div>
										
								  </div>
								  
							</section>

							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Visita de la Asociación de Vecinos al Museo AGBAR </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection"> 12.265 L
								<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 200.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 204 </span> días
										</div>
										
								  </div>
								  
							</section>
										
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Botellas de agua de cristal para el colegio "xxxx" </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  9.721 L
									<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 200.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 39 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 74 </span> días
										</div>
										
								  </div>
								  
							</section>
						
							<hr />	
	 		
						</section>
					
					<div class="pagination">  
	                  <ul>  
	                    <li><a href="#">Prev</a></li>  
	                    <li class="active">  
	                      <a href="#">1</a>  
	                    </li>  
	                    <li><a href="#">2</a></li>  
	                    <li><a href="#">3</a></li>  
	                    <li><a href="#">4</a></li>  
	                    <li><a href="#">Next</a></li>  
	                  </ul>  
	                </div>						
			
		</section>

		<section class="row-fluid">
				
				<section class="row-fluid" id="fund_rasising_listing">  
						
						<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> Proyectos Sociales y de Pobreza Energética </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
						</figure>
						
						<section class="span12 first projects_holder">
							
							<section class="span4 first fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Apoyo a 73 familias en situación de pobreza energética del barrio de Sants </a></h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  12.387 L  
								<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 20.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Apoyo
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 30 </span> días
										</div>
										
								  </div>
								  
							</section>

							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Apoyo a 126 familias en situación de pobreza energética del barrio del Raval </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection"> 12.265 L
								<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 200.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 204 </span> días
										</div>
										
								  </div>
								  
							</section>
										
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Apoyo a 89 familias en situación de pobreza energética del barrio de Gràcia </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  9.721 L
									<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 200.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 39 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 74 </span> días
										</div>
										
								  </div>
								  
							</section>
						
							<hr />	
	 		
						</section>
					
					<div class="pagination">  
	                  <ul>  
	                    <li><a href="#">Prev</a></li>  
	                    <li class="active">  
	                      <a href="#">1</a>  
	                    </li>  
	                    <li><a href="#">2</a></li>  
	                    <li><a href="#">3</a></li>  
	                    <li><a href="#">4</a></li>  
	                    <li><a href="#">Next</a></li>  
	                  </ul>  
	                </div>						
			
		</section>

		<section class="row-fluid">
				
				<section class="row-fluid" id="fund_rasising_listing">  
						
						<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> Proyectos y Ayudas a Organizaciones </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
						</figure>
						
						<section class="span12 first projects_holder">
							
							<section class="span4 first fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Ayuda a la asociación "" con su factura del agua </a></h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  12.387 L  
								<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 2.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Apoyo
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 30 </span> días
										</div>
										
								  </div>
								  
							</section>

							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Apoyo a Médicos Sin Fronteras </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection"> 12.265 L
								<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 20.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 204 </span> días
										</div>
										
								  </div>
								  
							</section>
										
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Ayuda al departamento de derechos sociales del Ayuntamiento de Barcelona </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  49.721 L
									<div class="btn-group" style="float: right;">
                					<button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Apoyar <span class="caret"></span></button>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Prioridad 1</a></li>
					                  <li><a href="#">Prioridad 2</a></li>
					                  <li><a href="#">Prioridad 3</a></li>
					                  <li class="divider"></li>
					                  <li><a href="#">Dejar de apoyar</a></li>
					                </ul>
					              </div>
					        </span>
							
							<h4> conseguidos del objetivo de 200.000 L </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 39 </span> Apoyos
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> Quedan <span> 74 </span> días
										</div>
										
								  </div>
								  
							</section>
						
							<hr />	
	 		
						</section>
					
					<div class="pagination">  
	                  <ul>  
	                    <li><a href="#">Prev</a></li>  
	                    <li class="active">  
	                      <a href="#">1</a>  
	                    </li>  
	                    <li><a href="#">2</a></li>  
	                    <li><a href="#">3</a></li>  
	                    <li><a href="#">4</a></li>  
	                    <li><a href="#">Next</a></li>  
	                  </ul>  
	                </div>						
			
		</section>

	</section>
	<!-- Page Content Container -->

{% endblock %}
