
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

	<!-- Title & BreadCrumbs -->
	<section class="mtop">
		<section class="container-fluid container">
			
			
				</section>		<!-- end of Page Title -->
		
	</section>
	<!-- End of Tile & Breadcrumbs -->
	 
	<!-- Page Content Container -->
	<section id="content" class="mbtm fund_rasising_listing">
		<section class="container-fluid container">
		
			<section class="row-fluid">
				
				<section class="row-fluid" id="fund_rasising_listing">  
						
						<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> My Projects </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
						</figure>
						
						<section class="span12 first projects_holder">
							
							<section class="span4 first fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Asociación XXX (Organización) </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  12.387 L </span>
							
							<h4> Pledged of 20.000 L Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 30 </span> Days Left
										</div>
										
								  </div>
								  
							</section>

							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us educate children </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection"> 12.265 L</span>
							
							<h4> Pledged of 200.000 L Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
										</div>
										
								  </div>
								  
							</section>
										
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us for haiti victams </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  9.721 L </span>
							
							<h4> Pledged of 200.000 L Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 39 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 74 </span> Days Left
										</div>
										
								  </div>
								  
							</section>
						
							<hr />	
	 		
						</section>
					
					<div class="pagination">  
	                  <ul>  
	                    <li><a href="#">Prev</a></li>  
	                    <li class="active">  
	                      <a href="#">1</a>  
	                    </li>  
	                    <li><a href="#">2</a></li>  
	                    <li><a href="#">3</a></li>  
	                    <li><a href="#">4</a></li>  
	                    <li><a href="#">Next</a></li>  
	                  </ul>  
	                </div>						
			
		</section>

		<section class="row-fluid">
				
				<section class="row-fluid" id="fund_rasising_listing">  
						
						<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> Other Projects </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
						</figure>
						
						<section class="span12 first projects_holder">
							
							<section class="span4 first fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us build our hospital </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  $18,387 </span>
							
							<h4> Pledged of $200,000 Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
										</div>
										
								  </div>
								  
							</section>

							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us educate children </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection"> $12,265 </span>
							
							<h4> Pledged of $200,000 Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
										</div>
										
								  </div>
								  
							</section>
										
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us for haiti victams </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  $9,721 </span>
							
							<h4> Pledged of $200,000 Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 39 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 74 </span> Days Left
										</div>
										
								  </div>
								  
							</section>
						
							<hr />	
	 
							<section class="span4 first fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us educate children </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection"> $12,265 </span>
							
							<h4> Pledged of $200,000 Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
										</div>
										
								  </div>
								  
							</section>
										
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us for haiti victams </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  $9,721 </span>
							
							<h4> Pledged of $200,000 Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 39 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 74 </span> Days Left
										</div>
										
								  </div>
								  
							</section>
						
							<section class="span4 fund_project" id="charity_progress">
								<h3> <a href="crowdfunding_detail.html"> Help us build our hospital </a> </h3>
								
								<img src={%static "images/water_drop.jpg" %} alt="Fund Featured Image" />

							<span class="current_collection">  $18,387 </span>
							
							<h4> Pledged of $200,000 Goal </h4>
							
							<div class="progress progress-striped active">  
									<div class="bar p80"></div>    
							</div>
							 
							 <div class="info"> 
										<div class="span6 first">
											<i class="icon-user"></i> <span> 147 </span> Pledgers
										</div>
										
										<div class="span6">
											<i class="icon-calendar-empty"></i> <span> 204 </span> Days Left
										</div>
										
								  </div>
								  
							</section>

							<hr />			
						</section>
					
					<div class="pagination">  
	                  <ul>  
	                    <li><a href="#">Prev</a></li>  
	                    <li class="active">  
	                      <a href="#">1</a>  
	                    </li>  
	                    <li><a href="#">2</a></li>  
	                    <li><a href="#">3</a></li>  
	                    <li><a href="#">4</a></li>  
	                    <li><a href="#">Next</a></li>  
	                  </ul>  
	                </div>						
			
		</section>

	</section>
	<!-- Page Content Container -->

{% endblock %}
