
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- Title & BreadCrumbs -->
	<section class="mtop">
		<section class="container-fluid container">
			
			
				</section>		<!-- end of Page Title -->
		
	</section>
	<!-- End of Tile & Breadcrumbs -->

<!-- Page Content Container -->
<section id="content" class="mbtm product_grid">
	<section class="container-fluid container">
	
		<section class="row-fluid">
			
			<section class="span12 product_view" id="product_grid">  
 
					
					<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> My Challenges </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
					</figure>
					
					<Section class="product_image_holder">
					
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src={%static "images/water_drop.jpg" %} alt="Product Image" />
								<span class="badge badge-important">x2</span>
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Sin agua de 7.00h a 9.00h</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>99 <del> <sup>$</sup>120.50 </del></span>
							<a href="#" class="btn pull-right"> Follow </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/water_drop.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x3,5</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Una lavadora a la semana </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Follow </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/water_drop.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x4</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Lavaplatos en modo ahorro </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<hr />					
					
					</section>
					
				<div class="pagination">  
                  <ul>  
                    <li><a href="#">Prev</a></li>  
                    <li class="active">  
                      <a href="#">1</a>  
                    </li>  
                    <li><a href="#">2</a></li>  
                    <li><a href="#">3</a></li>  
                    <li><a href="#">4</a></li>  
                    <li><a href="#">Next</a></li>  
                  </ul>  
                </div>						
		
		</section>
			
 
			
		</section>
		
		<section class="row-fluid">
			
			<section class="span12 product_view" id="product_grid">  
 
					
					<figure class="span12 first" id="category_title">
							<div class="span10 first"> <h3> Other Challenges </h3>	</div>
							<div class="span2"> 
								<ul id="view_switcher"> 
								<li class="active">	<a href="product_listing_list.html"> <i class="icon-align-justify"></i> </a> </li>
								<li>	<a href="product_listing_grid.html"> <i class="icon-th"></i> </a>			 </li>
								</ul> 
							</div>
					</figure>
					
					<Section class="product_image_holder">
					
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="images/store2.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2,5</span>
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>99 <del> <sup>$</sup>120.50 </del></span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store1.jpg" alt="Product Image" />
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store3.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<hr />
 					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="images/store2.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2,7</span>
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>99 <del> <sup>$</sup>120.50 </del></span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store1.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x3</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store3.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<hr />
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="images/store2.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x5</span>
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>99 <del> <sup>$</sup>120.50 </del></span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store1.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store3.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x3</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<hr />
					<figure class="span4 first" id="product"> 
						
						<div class="product_img">
								<img src="images/store2.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2</span>
						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human T-shirt</a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>99 <del> <sup>$</sup>120.50 </del></span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store1.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x2</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Mug </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<figure class="span4" id="product"> 
						
						<div class="product_img">
								<img src="images/store3.jpg" alt="Product Image" />
								<span class="badge badge-inverse">x1,5</span>
 						</div>
						
						<div class="first product_description">
							<h3> <a href="#"> Be-Human Cap </a> </h3>
							<p>Рigh life ex whatever ironyc upidatat high life ethical reprehenderit elit...</p>
							<span class="price"> <sup>$</sup>120.99  </span>
							<a href="#" class="btn pull-right"> Add to Cart </a>
						</div>
						
						
						
					</figure>

					<hr />
					
					
					</section>
					
				<div class="pagination">  
                  <ul>  
                    <li><a href="#">Prev</a></li>  
                    <li class="active">  
                      <a href="#">1</a>  
                    </li>  
                    <li><a href="#">2</a></li>  
                    <li><a href="#">3</a></li>  
                    <li><a href="#">4</a></li>  
                    <li><a href="#">Next</a></li>  
                  </ul>  
                </div>						
		
		</section>	
		</section>

	</section>

</section>
<!-- Page Content Container -->
	 
</body>


{% endblock %}